<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Prenotazione</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="sticky-footer-navbar.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body class="d-flex flex-column h-100">
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

                    <!-- LOGIN E LOGOUT -->
                    {{ login }}
                    <button type="button" v-show="!autorizzazione" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
                    <span v-show="autorizzazione">
                        <button type="button" v-on:click=getLogout('logout') id="logoutt" class="btn btn-outline-primary">Logout</button>
                    </span>

                    <!-- MENU DI LOGIN CON USER E PASS -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content text-center">

                                <!-- FORM DI UTENTE E PASSWORD -->
                                <div class="modal-body">
                                    <div class="modal-header justify-content-center">
                                        <img src="utente.png" height="50" width="50"/>
                                    </div>
                                    <form>
                                        <div class="mb-3">
                                            <p> </p>
                                            <input id="utente" type="text" class="form-control" name="utente" placeholder="Utente" required>
                                            <p> </p>
                                        </div>
                                        <div class="mb-3">
                                            <input id="password" type="password" class="form-control" name="password" placeholder="Password" required>
                                        </div>
                                        <p> </p>
                                        <button type="button" v-on:click="getInfo('login')" id="go" class="btn btn-primary" data-bs-dismiss="modal" >Login</button> <br><br>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- SIDENAV CON MAIN -->
        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">

                    <!-- COMANDI UTENTI E ADMIN -->
                    <div class="position-sticky pt-3">
                        <ul class="nav flex-column">
                            <span v-show="admin">
                                <h6 class="sidebar-heading d-flex justify-content-between align-items-left px-4 mt-4 mb-1 text-muted">
                                    <span>PANNELLO ADMIN</span>
                                </h6>
                                <li class="nav-item">
                                    <p> </p>
                                    <button type="button" v-on:click="getUtente('getUtente')" id="getUtente" class="btn btn-outline-secondary btn-sm costumbutt">Visualizza Utenti</button>
                                    <p> </p>
                                    <button type="button" v-on:click="getPrenotazione('allPrenotazioni')" id="getPrenotazioni" class="btn btn-outline-secondary btn-sm costumbutt">Prenotazioni</button>
                                    <p> </p>
                                    <button type="button" v-on:click="AddDocShow" id="addDocente" class="btn btn-outline-secondary btn-sm costumbutt">Aggiungi Docente</button>
                                    <p> </p>
                                    <button type="button" v-on:click="removeDocShow('getDocente')" id="removeDocente" class="btn btn-outline-secondary btn-sm costumbutt">Rimuovi Docente</button>
                                    <p> </p>
                                    <button type="button" v-on:click="AddCorsoShow" id="addCorso" class="btn btn-outline-secondary btn-sm costumbutt">Aggiungi Corso</button>
                                    <p> </p>
                                    <button type="button" v-on:click="removeCorShow('getCorsoAttivo')" id="removeCorso" class="btn btn-outline-secondary btn-sm costumbutt">Rimuovi Corso</button>
                                    <p> </p>
                                    <button type="button" v-on:click="AddMateriaShow" id="addMateria" class="btn btn-outline-secondary btn-sm costumbutt">Aggiungi Materia</button>
                                    <p> </p>
                                    <button type="button" v-on:click="removeMatShow('getMateria')" id="removeMateria" class="btn btn-outline-secondary btn-sm costumbutt">Rimuovi Materia</button>
                                    <p> </p>

                                    <span v-show="AddDocente">
                                        <label for="nome">INSERISCI DOCENTE</label>
                                        <p> </p>
                                        <input type="text" id="nome" name="nome" class="form-control costumbutt" placeholder="Nome">
                                        <p> </p>
                                        <input type="text" id="cognome" name="cognome" class="form-control costumbutt" placeholder="Cognome">
                                        <p> </p>
                                        <input type="submit" v-on:click="addDoc('addDocente')" id="AddDoc" name="submit" class="btn btn-success btn-sm costumbutt" value="INSERISCI DOCENTE"/>
                                        <p> </p>
                                    </span>

                                    <span v-show="AddCorso">
                                        <label for="idDocenteC">INSERISCI CORSO</label>
                                        <p> </p>
                                        <select v-model="selected" id="idDocenteC">
                                             <option v-for="docente in docs" v-bind:value="docente.idDocente">
                                                {{docente.idDocente}}
                                                {{docente.nome}}
                                                {{docente.cognome}}
                                             </option>
                                        </select>
                                        <p> </p>
                                        <input type="submit" v-on:click="showMaterie('getMateria')" name="submit" class="btn btn-secondary btn-sm " value=">>"/>
                                        <p> </p>
                                    </span>

                                    <span v-show="AddCorsoMat">
                                        <label for="idMateriaC">INSERISCI CORSO</label>
                                        <p> </p>
                                        <select v-model="selected" id="idMateriaC">
                                            <option v-for="materia in mats2" v-bind:value="materia.titoloCorso">
                                                {{ materia.titoloCorso}}
                                             </option>
                                        </select>
                                        <p> </p>
                                        <input type="submit" v-on:click="addCor('addCorso')" id="AddCor" name="submit" class="btn btn-success btn-sm costumbutt" value="INSERISCI CORSO"/>
                                    </span>

                                    <span v-show="AddMateria">
                                        <label for="idMateria">INSERISCI MATERIA</label>
                                        <p> </p>
                                        <input type="text" id="idMateria" name="idMateria" class="form-control costumbutt" placeholder="Nome Materia">
                                        <p> </p>
                                        <input type="submit" v-on:click="addMat('addMateria')" id="AddMat" name="submit" class="btn btn-success btn-sm costumbutt" value="INSERISCI MATERIA"/>
                                        <p> </p>
                                    </span>

                                    <span v-show="removeDoc">
                                        <label for="idDocRem">RIMUOVI DOCENTE</label>
                                        <p> </p>
                                        <select v-model="selected" id="idDocRem">
                                             <option v-for="docente in docs" v-bind:value="docente.idDocente">
                                                {{ docente.idDocente}}
                                                {{ docente.nome }}
                                                {{ docente.cognome }}
                                             </option>
                                        </select>
                                        <p> </p>
                                        <input type="submit"  v-on:click="remDoc('removeDocente')" id="RemDoc" name="submit" class="btn btn-danger btn-sm costumbutt" value="RIMUOVI DOCENTE"/>
                                        <p> </p>
                                    </span>

                                    <span v-show="removeCor">
                                        <label for="idCorRem">RIMUOVI CORSO</label>
                                        <p> </p>
                                        <select v-model="selected" id="idCorRem">
                                             <option v-for="corso in corsi" v-bind:value="corso.idInsegnamento + ',' + corso.idDocenteC + ',' + corso.idCorso">
                                                {{ corso.idInsegnamento}}
                                                {{ corso.idDocenteC }}
                                                {{ corso.idCorso }}
                                             </option>
                                        </select>
                                        <p> </p>
                                        <input type="submit"  v-on:click="remCor('removeCorso')" id="RemCor" name="submit" class="btn btn-danger btn-sm costumbutt" value="RIMUOVI CORSO"/>
                                        <p> </p>
                                    </span>

                                    <span v-show="removeMat">
                                        <label for="idMatRem">RIMUOVI MATERIA</label>
                                        <p> </p>
                                        <select v-model="selected" id="idMatRem">
                                             <option v-for="materia in mats2" v-bind:value="materia.titoloCorso">
                                                {{ materia.titoloCorso}}
                                             </option>
                                        </select>
                                        <p> </p>
                                        <input type="submit"  v-on:click="remMat('removeMateria')" id="RemMat" name="submit" class="btn btn-danger btn-sm costumbutt" value="RIMUOVI MATERIA"/>
                                        <p> </p>
                                    </span>
                                </li>
                            </span>


                            <span v-show="utente">
                                <h6 class="sidebar-heading d-flex justify-content-between align-items-left px-4 mt-4 mb-1 text-muted">
                                    <span>PANNELLO UTENTE</span>
                                </h6>
                                <li class="nav-item">
                                    <p> </p>
                                    <button type="button" v-on:click="getMiePrenotazioni('miePrenotazioni')" id="getMiePrenotazioni" class="btn btn-outline-secondary btn-sm costumbutt">Prenotazioni </button>
                                    <p> </p>
                                </li>
                            </span>
                        </ul>
                    </div>
                </nav>

                <!-- MAIN CON CALENDARIO -->
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <img src="logobook.jpg" height="50" width="50">


                        <button type="button"  v-on:click="getMats('getMateria')" id="Matss" class="btn btn-secondary btn-sm costumbutt">Visualizza Materie</button>

                        <div v-for="materia in mats">
                            <button type="button"  v-on:click="passMat(materia.titoloCorso, 'getCalendario')"  id="calendar" class="btn btn-outline-secondary btn-sm costumbutt">{{materia.titoloCorso}}</button>
                        </div>

                        <button type="button"  v-on:click="getHomePage()" id="HomePage" class="btn btn-secondary btn-sm costumbutt">Home</button>

                    </div>

                    <span v-show="showhomepage">
                        <p><img src="homepage.JPG"></p>
                    </span>

                    <span v-show="showPrenotazioni">
                        <table id="TablePrenotazioni">
                              <thead>
                                  <tr>
                                      <th>Prenotazione</th>
                                      <th>Utente</th>
                                      <th>Docente</th>
                                      <th>Nome</th>
                                      <th>Cognome</th>
                                      <th>Corso</th>
                                      <th>Orario</th>
                                      <th>Data</th>
                                      <th>Stato</th>
                                  </tr>
                              </thead>
                            <tbody>
                                <tr v-for="prenotazione in prenotazioni">
                                    <td>{{prenotazione.idPrenotazione}}</td>
                                    <td>{{prenotazione.idUtente}}</td>
                                    <td>{{prenotazione.idDocente}}</td>
                                    <td>{{prenotazione.nomeP}}</td>
                                    <td>{{prenotazione.cognome}}</td>
                                    <td>{{prenotazione.idCorso}}</td>
                                    <td>{{prenotazione.orario}}</td>
                                    <td>{{prenotazione.giorno}}</td>
                                    <td>{{prenotazione.stato}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </span>

                    <span v-show="showUtenti">
                        <table id="TableUtenti">
                              <thead>
                                  <tr>
                                      <th>Nome</th>
                                      <th>Cognome</th>
                                      <th>Nome Utente</th>
                                      <th>Password</th>
                                      <th>Ruolo</th>
                                  </tr>
                              </thead>
                            <tbody>
                                <tr v-for="utente in utenti">
                                    <td>{{utente.nome}}</td>
                                    <td>{{utente.cognome}}</td>
                                    <td>{{utente.nomeUtente}}</td>
                                    <td>{{utente.password}}</td>
                                    <td>{{utente.ruolo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </span>

                    <span v-show="showMiePrenotazioni">
                        <table id="TableMiePrenotazioniPrenotate">
                              <thead>
                                  <tr>
                                      <th>Prenotazione</th>
                                      <th>Docente</th>
                                      <th>Nome</th>
                                      <th>Cognome</th>
                                      <th>Corso</th>
                                      <th>Orario</th>
                                      <th>Data</th>
                                      <th>Stato</th>
                                      <th>Disdici</th>
                                      <th>Svolta</th>
                                  </tr>
                              </thead>
                            <tbody>
                                <tr v-for="prenotazione in Mieprenotazioni">
                                    <template v-if="prenotazione.stato === 'Prenotata'">
                                        <td>{{prenotazione.idPrenotazione}}</td>
                                        <td>{{prenotazione.idDocente}}</td>
                                        <td>{{prenotazione.nomeP}}</td>
                                        <td>{{prenotazione.cognome}}</td>
                                        <td>{{prenotazione.idCorso}}</td>
                                        <td>{{prenotazione.orario}}</td>
                                        <td>{{prenotazione.giorno}}</td>
                                        <td>{{prenotazione.stato}}</td>
                                        <td><button type="button"  v-on:click="disdici(prenotazione.idPrenotazione, prenotazione.idUtente, prenotazione.idDocente, prenotazione.idCorso, prenotazione.orario, prenotazione.giorno, prenotazione.stato, 'buttonDisdici')" class="btn btn-outline-danger btn-sm costumbutt">DISDICI</button></td>
                                        <td><button type="button"  v-on:click="svolta(prenotazione.idPrenotazione, prenotazione.idUtente, prenotazione.idDocente, prenotazione.idCorso, prenotazione.orario, prenotazione.giorno, prenotazione.stato, 'buttonSvolta')" class="btn btn-outline-success btn-sm costumbutt">SVOLTA</button></td>
                                    </template>
                                    <template v-else>
                                    </template>
                                </tr>
                            </tbody>
                        </table> <br>

                        <table id="TableMiePrenotazioniDisdiciSvolta">
                              <thead>
                                  <tr>
                                      <th>Prenotazione</th>
                                      <th>Docente</th>
                                      <th>Nome</th>
                                      <th>Cognome</th>
                                      <th>Corso</th>
                                      <th>Orario</th>
                                      <th>Data</th>
                                      <th>Stato</th>
                                  </tr>
                              </thead>
                            <tbody>
                                <tr v-for="prenotazione in Mieprenotazioni">
                                    <template v-if="prenotazione.stato !== 'Prenotata'">
                                        <td>{{prenotazione.idPrenotazione}}</td>
                                        <td>{{prenotazione.idDocente}}</td>
                                        <td>{{prenotazione.nomeP}}</td>
                                        <td>{{prenotazione.cognome}}</td>
                                        <td>{{prenotazione.idCorso}}</td>
                                        <td>{{prenotazione.orario}}</td>
                                        <td>{{prenotazione.giorno}}</td>
                                        <td>{{prenotazione.stato}}</td>
                                    </template>
                                    <template v-else>
                                    </template>
                                </tr>
                            </tbody>
                        </table>
                    </span>

                    <span v-show="showCalendario">
                        <table id="TableCalendario">
                              <thead>
                                  <tr>
                                      <th>Docente</th>
                                      <th>Nome</th>
                                      <th>Cognome</th>
                                      <th>Materia</th>
                                      <th>Giorno</th>
                                      <th>Orario</th>
                                      <template v-if="autorizzazione">
                                          <th>Prenota</th>
                                      </template>

                                  </tr>
                              </thead>
                            <tbody>
                                <tr v-for="insegnamento in calendario">
                                    <td>{{insegnamento.idDocente}}</td>
                                    <td>{{insegnamento.nomeP}}</td>
                                    <td>{{insegnamento.cognome}}</td>
                                    <td>{{insegnamento.idCorso}}</td>
                                    <td>{{insegnamento.giorno}}</td>
                                    <td>{{insegnamento.orario}}</td>
                                    <template v-if="autorizzazione">
                                        <td><button type="button"  v-on:click="prenota(insegnamento.giorno, insegnamento.orario, insegnamento.idDocente, insegnamento.idCorso, 'buttonPrenotazioni')" class="btn btn-outline-success btn-sm costumbutt">PRENOTA</button></td>
                                    </template>
                                    <template v-else>
                                    </template>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
                </main>
            </div>
        </div>

        <!-- FOOTER PER STAMPE -->
        <footer class="footer mt-auto py-3 bg-dark text-center">
            <span v-show="AddDocente">
                <div id="ADDEDDOC" class="outputTextArea"></div>
            </span>
            {{confermaAzione}}
            {{logout}}
            {{idDoc}}
            <span v-show="AddCorso">
                <div id="ADDEDCORSO" class="outputTextArea"></div>
            </span>
            <span v-show="removeDoc">
                <div id="REMOVEDDOC" class="outputTextArea"></div>
            </span>
        </footer>
    </div>

    <script>
        var app = new Vue ({
            el: '#app',
            data: {
                login: ' ',
                logout: ' ',
                idDoc: ' ',
                autori: 'prova',
                autorizzazione: false,
                utente: false,
                admin: false,
                AddDocente: false,
                utenti : [],
                prenotazioni : [],
                mats : [],
                mats2 : [],
                corsi : [],
                docs : [],
                calendario : [],
                AddCorso : false,
                AddCorsoMat : false,
                removeDoc : false,
                showPrenotazioni : false,
                showMiePrenotazioni : false,
                showCalendario : false,
                showUtenti : false,
                showhomepage : true,
                removeCor : false,
                AddMateria : false,
                removeMat : false,
                stampa1 : 'Le mie prenotazioni',
                confermaAzione : '',
                LinkLogin : '/Ripetizioni/ServletLogin',
                LinkAdd : '/Ripetizioni/ServletAdd',
                LinkRemove : '/Ripetizioni/ServletRemove',
                LinkShow : '/Ripetizioni/ServletShow',
                LinkJSON : '/Ripetizioni/ServletJSON',
            },

            methods:{
                getInfo:function(azione){
                    var auto = this;
                    $.post(this.LinkLogin, {utente:$("#utente").val(), password:$("#password").val(), azione:azione}, function(data) {
                        auto.login = data;
                        if (auto.login.trim() === "Admin") {
                            auto.autorizzazione = true;
                            auto.utente = true;
                            auto.admin = true;
                            auto.login = "Benvenuto/a, ";
                        } else if (auto.login.trim() === "Utente") {
                            auto.autorizzazione = true;
                            auto.utente = true;
                            auto.admin = false;
                            auto.login = "Benvenuto/a, ";
                        } else if (auto.login.trim() === "Nonloggato") {
                            auto.autorizzazione = false;
                            auto.utente = false;
                            auto.admin = false;
                            auto.login = "Utente o password errato";
                        }
                        auto.logout = " ";
                    });
                },

                getLogout: function (azione) {
                    var self = this;
                    $.post(this.LinkLogin, {azione:azione}, function(data) {
                        self.autorizzazione=false;
                        self.admin=false;
                        self.utente=false;
                        self.AddDocente = false;
                        self.AddCorso = false;
                        self.removeDoc = false;
                        self.showPrenotazioni = false;
                        self.showMiePrenotazioni = false;
                        self.showUtenti = false;
                        self.removeCor = false;
                        self.showCalendario = false;
                        self.showhomepage = true;
                        self.logout = "Logout effettuato con successo";
                        self.login = " ";
                        self.confermaAzione = " ";
                    });
                },

                getUtente: function (azione) {
                    var self = this;
                    $.get(this.LinkJSON, {azione:azione}, function (data2) {
                        self.showUtenti = true;
                        self.showMiePrenotazioni = false;
                        self.showPrenotazioni = false;
                        self.showCalendario = false;
                        self.showhomepage = false;
                        self.utenti = data2;
                    });
                },

                getPrenotazione: function (azione) {
                    var self1 = this;
                    $.get(this.LinkShow, {azione:azione},  function (data3) {
                        self1.showPrenotazioni = true;
                        self1.showUtenti = false;
                        self1.showMiePrenotazioni = false;
                        self1.showCalendario = false;
                        self1.showhomepage = false;
                        self1.prenotazioni = data3;
                    });
                },

                addDoc: function(azione){
                    var doc = this;
                    $.post(this.LinkAdd, {nome:$("#nome").val(), cognome:$("#cognome").val(), azione:azione}, function(data) {
                        doc.confermaAzione = data;

                    });
                },

                addCor: function(azione){
                    var cor = this;
                    $.post(this.LinkAdd, {idDocenteC:$("#idDocenteC").val(), idMateriaC:$("#idMateriaC").val(), azione:azione}, function(data) {
                        cor.confermaAzione = data;

                    });
                },

                remDoc: function(azione){
                    var doc = this;
                    $.post(this.LinkRemove, {idDocRem:$("#idDocRem").val(), azione:azione}, function(data) {
                        doc.confermaAzione = data;

                    });
                },

                remCor: function(azione){
                    var Cor = this;
                    $.post(this.LinkRemove, {idCorRem:$("#idCorRem").val(), azione:azione}, function(data) {
                        Cor.confermaAzione = data;

                    });
                },

                addMat: function(azione){
                    var mat = this;
                    $.post(this.LinkAdd, {idMateria:$("#idMateria").val(), azione:azione}, function(data) {
                        mat.confermaAzione = data;

                    });
                },

                remMat: function(azione){
                    var Mat = this;
                    $.post(this.LinkRemove, {idMatRem:$("#idMatRem").val(), azione:azione}, function(data) {
                        Mat.confermaAzione = data;

                    });
                },

                getMats: function (azione) {
                    var self1 = this;
                    var auto = this;
                    $.get(this.LinkJSON, {azione:azione}, function (data3) {
                        self1.showCalendario = false;
                        self1.showMiePrenotazioni = false;
                        self1.showPrenotazioni = false;
                        self1.showUtenti = false;
                        self1.mats = data3;
                    });

                },

                getDocente: function (azione) {
                    var self1 = this;
                    $.get(this.LinkJSON, {azione:azione}, function (data3) {
                        self1.docs = data3;
                    });

                },

                getMiePrenotazioni: function (azione) {
                    var self1 = this;
                    $.get(this.LinkShow, {azione:azione}, function (data3) {
                        self1.showMiePrenotazioni = true;
                        self1.showPrenotazioni = false;
                        self1.showUtenti = false;
                        self1.showCalendario = false;
                        self1.showhomepage = false;
                        self1.Mieprenotazioni = data3;
                    });
                },

                passMat: function (e, azione) {
                    var self1 = this;
                    var value = e;
                    $.post(this.LinkJSON, {value:value, azione:azione}, function(data4) {
                        self1.calendario = data4;
                        self1.showCalendario = true;
                        self1.showMiePrenotazioni = false;
                        self1.showPrenotazioni = false;
                        self1.showUtenti = false;
                        self1.showhomepage = false;

                    });
                },

                prenota: function (orario, giorno, docente, corso, azione) {
                    var self1 = this;
                    $.post(this.LinkShow, {orario:orario, giorno:giorno, docente:docente, corso:corso, azione:azione}, function(data) {
                        self1.confermaAzione = data;
                    });
                },

                disdici: function (idPrenotazione, idUtente, idDocente, idCorso, orario, giorno, stato, azione) {
                    var self1 = this;
                    $.post(this.LinkShow, {idPrenotazione:idPrenotazione, idUtente:idUtente, idDocente:idDocente, idCorso:idCorso, orario:orario, giorno:giorno, stato:stato, azione:azione}, function(data) {
                        self1.confermaAzione = data;
                    });
                },

                svolta: function (idPrenotazione, idUtente, idDocente, idCorso, orario, giorno, stato, azione) {
                    var self1 = this;
                    $.post(this.LinkShow, {idPrenotazione:idPrenotazione, idUtente:idUtente, idDocente:idDocente, idCorso:idCorso, orario:orario, giorno:giorno, stato:stato, azione:azione}, function(data) {
                        self1.confermaAzione = data;
                    });
                },

                AddDocShow: function () {
                    var auto = this;
                    if (auto.AddDocente === false) {
                        auto.AddDocente = true;
                        auto.AddCorso = false;
                        auto.AddMateria = false;
                        auto.removeCor = false;
                        auto.removeDoc = false;
                        auto.removeMat = false;
                    } else {
                        auto.AddDocente = false;
                    }
                },

                removeDocShow: function (azione) {
                    var auto = this;
                    $.get(this.LinkJSON, {azione:azione}, function (data3) {auto.docs = data3;});
                    if (auto.removeDoc === false) {
                        auto.removeDoc = true;
                        auto.AddDocente = false;
                        auto.AddCorso = false;
                        auto.AddMateria = false;
                        auto.removeCor = false;
                        auto.removeMat = false;
                    } else {
                        auto.removeDoc = false;
                    }
                    auto.docs = data3;
                },

                AddCorsoShow: function () {
                    var auto = this;
                    if (auto.AddCorso === false) {
                        auto.AddCorso = true;
                        auto.AddDocente = false;
                        auto.AddMateria = false;
                        auto.removeCor = false;
                        auto.removeDoc = false;
                        auto.removeMat = false;
                        auto.AddCorsoMat = false;
                    } else {
                        auto.AddCorso = false;
                        auto.AddCorsoMat = false;
                    }
                    this.showDocenti('getDocente');
                },

                showDocenti: function (azione){
                    var auto = this;
                    $.get(this.LinkJSON, {azione:azione}, function (data3) {auto.docs = data3;});
                    auto.docs = data3;
                },

                showMaterie: function (azione, idDocenteC){
                    var auto = this;
                    auto.AddCorsoMat = true;
                    auto.idDoc = idDocenteC;
                    auto.AddCorso = false;
                    $.get(this.LinkJSON, {azione:azione}, function (data3) {auto.mats2 = data3;});
                    auto.mats2 = data3;
                },

                removeCorShow: function (azione) {
                    var auto = this;
                    $.get(this.LinkJSON, {azione:azione}, function (data3) {auto.corsi = data3;});
                    if (auto.removeCor === false) {
                        auto.removeCor = true;
                        auto.AddDocente = false;
                        auto.AddCorso = false;
                        auto.AddMateria = false;
                        auto.removeDoc = false;
                        auto.removeMat = false;
                    } else {
                        auto.removeCor = false;
                    }
                    auto.corsi = data3;

                },

                AddMateriaShow: function () {
                    var auto = this;
                    if (auto.AddMateria === false) {
                        auto.AddMateria = true;
                        auto.AddDocente = false;
                        auto.AddCorso = false;
                        auto.removeCor = false;
                        auto.removeDoc = false;
                        auto.removeMat = false;
                    } else {
                        auto.AddMateria = false;
                    }

                },

                removeMatShow: function (azione) {
                    var auto = this;
                    $.get(this.LinkJSON, {azione:azione}, function (data3) {auto.mats2 = data3;});
                    if (auto.removeMat === false) {
                        auto.removeMat = true;
                        auto.AddDocente = false;
                        auto.AddCorso = false;
                        auto.AddMateria = false;
                        auto.removeCor = false;
                        auto.removeDoc = false;
                    } else {
                        auto.removeMat = false;
                    }
                    auto.mats2 = data3;

                },

                getHomePage: function () {
                    var self = this;
                    self.showhomepage = true;
                    self.showMiePrenotazioni = false;
                    self.showPrenotazioni = false;
                    self.showUtenti = false;
                    self.showCalendario = false;
                    self.AddDocente = false;
                    self.AddCorso = false;
                    self.AddCorsoMat = false;
                    self.AddMateria = false;
                    self.removeCor = false;
                    self.removeDoc = false;
                    self.removeMat = false;
                }
            }
        });
    </script>
</body>
</html>
