.navbar {
    color: white;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.container {
    padding: 2rem 0rem;
}

@media (min-width: 100px){
    .modal-dialog {
        max-width: 300px;
    }
    .modal-content {
        padding: 1rem;
    }
}

.modal-header .close {
    margin-top: -1.5rem;
}


.form-title {
    margin: -2rem 0rem 2rem;
}

.btn-round {
    border-radius: 3rem;
}

.costumbutt {
    width: 150px !important;
}

table {
    font-family: 'Open Sans', sans-serif;
    width: 750px;
    border-collapse: collapse;
    border: 3px solid #555;
    margin: 10px 10px 0 10px;
}

table th {
    text-transform: uppercase;
    text-align: center;
    background: #555;
    color: #FFF;
    padding: 8px;
    min-width: 30px;
}

table td {
    text-align: center;
    padding: 8px;
    border-right: 2px solid #555;
}
table td:last-child {
    border-right: none;
}

#materiaErrore {
    color: darkred;
    font-weight: bold;
}

#loginErrore {
    color: darkred;
    font-weight: bold;
}

#docErrore {
    color: darkred;
    font-weight: bold;
}

.footer-dark {
    padding:20px 0;
    color:#f0f9ff;
    background-color:#555;
}

.footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

.footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}

.footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
}


.footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
}



